<!DOCTYPE html>
<html>
<head>
    <title>Productos</title>
</head>
<body>
    <p>Usuario: {{name}}</p> <h3><a href="/api/sessions/logout">Salir</a></h3>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each products}}
            <li><a href="/product/{{this._id}}">{{this.title}}</a> - ${{this.price}}</li>
        {{/each}}
    </ul>
    <div>
        {{#if hasPrevius}}
            <a href="/api/products/all?page=1">Primera</a>
            <a href="/api/products/all?page={{previousPage}}">Anterior</a>
        {{/if}}
        {{#if hasNext}}
        
            <a href="/api/products/all?page={{nextPage}}">Siguiente</a>
            <a href="/api/products/all?page={{pageCount}}">Última</a>
        {{/if}}
    </div>
</body>
</html>